header{

	padding: 5px 0;
	z-index: 300;
	background-color: rgba(#fff, .7);
	position: fixed;
	width: 100%;
	top: 3vmax;
	background-color: transparent;

	& a{
		color: #fff;
	}

	& .container{

		display: flex;
		justify-content: space-between;
		
		& .left-links{

			display: flex;
			align-items: center;

			& .logo{

				display: inline-block;
				margin-right: 12px;
		
				& picture{

					display: flex;
					align-items: center;
					width: 217px;
					justify-content: space-between;
	
					& img{
						display: block;
					}
				}
			}

			& .bttn-outline{
				color: #fff;
				box-shadow: 0 0 0 1px #fff inset;
			}
		}

		& .right-links{

			display: flex;
			align-items: center;

			& nav{

				& ul{
					margin: 0;
					list-style: none;
					padding: 0;
					display: flex;

					& li{
						
						& a:not(.bttn){
							display: block;
							height: 100%;
							line-height: 2em;
							padding: 0 1em;
							// color: $text;


							&.active{
								color: $primary;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}

		.icon{
			color: $primary;
			font-size: 24px;
			display: block;
			margin-left: 12px;
		}
		
		& .burger, & .phone{
			display: none;
		}

		& .send-docs-mobile{

			& i{
				display: none;
			}
		}

		& .main-link{

			display: flex;
			align-items: center;

			& i{
				font-size: 24px;
				display: none;
			}
		}

		@media(max-width: 1910px){

			& .logo{

				& picture{

					width: auto !important;
		
					& img:last-of-type{
						display: none;
					}
				}
			}
		}

		@media(max-width: 1500px){

			& .events-cut{
				display: none;
			}
		}

		@media(max-width: 1700px){

			& .phone-cut{
				display: none;
			}

			& .phone{
				display: inline-block;
			}
		}

		@media(max-width: 1500px){

			& nav{
				display: none;
			}

			& .burger{
				display: block;
			}
		}

		@media(min-width: 1500px){

			& .send-docs-mobile{
				display: none;
			}
		}

		@media(max-width: 600px){

			& .send-docs-mobile{
				
				padding: 0 .3em;
				display: flex;
				align-items: center;
				line-height: 2em;
				height: 2em;

				& i{
					display: inline;
					font-size: 24px;
				}

				& span{
					display: none;
				}
			}
		}

		@media(max-width: 360px){

			& .main-link{

				padding: 0 .3em;
				line-height: 2em;
				height: 2em;

				& span{
					display: none;
				}

				& i{
					display: initial;
				}
			}
		}
	}

	&.dark{

		backdrop-filter: blur(10px);
		
		& a:not(.bttn){
			color: $text;
		}

		& .left-links{

			& .bttn-outline{
				color: $primary;
				box-shadow: 0 0 0 1px $primary inset;
			}
		}
	}
}