@import "https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css";

@font-face {
    font-family: 'Cygre';
    font-weight: normal;
    src: 
        url('/fonts/cygre-regular.ttf') format('truetype'),
        url('/fonts/cygre-regular.woff') format('woff');
}

@font-face {
    font-family: 'Cygre';
    font-weight: 500;
    src: 
        url('/fonts/cygre-medium.ttf') format('truetype'),
        url('/fonts/cygre-medium.woff') format('woff');
}

@font-face {
    font-family: 'Cygre';
    font-weight: bold;
    src: 
        url('/fonts/cygre-bold.ttf') format('truetype'),
        url('/fonts/cygre-bold.woff') format('woff');
}

body{
    font-family: 'Cygre', 'Roboto', sans-serif;
    font-size: clamp(16px, 2vw, 18px);
    -webkit-font-smoothing: subpixel-antialiased;
	color: $text;

    & h1{
        font-size: clamp(31px, 4vw, 96px);
    }

    & h2{
        font-size: clamp(26px, 4vw, 72px);
    }

    & h3{
        font-size: clamp(18px, 3vw, 40px);
    }

    & h4{
        font-size: clamp(16px, 3vw, 32px);
    }

    & .small{
        font-size: clamp(10px, 2vw, 12px);
    }

    & .large{
        font-size: clamp(18px, 2vw, 32px);
        line-height: 1.6em;
    }
}
